html, body {
    margin: 0;
    height: 100%;
}

#main {
    background-image: url("../assets/bg/backgroundImg.jpg");
    width: auto;
    min-height: 100%;
    background-size: cover;
    background-position: center;
}

#leaderboard {
    background-color: grey;
    box-shadow: 5px 5px white;
}

#leaderboard table {
    border-spacing: 2px;
}

#leaderboard th {
    background-color: blue;
}