html, body {
    margin: 0;
    height: 100%;
}

#main {
    background-image: url("../assets/bg/backgroundImg.jpg");
    width: auto;
    min-height: 100%;
    background-size: cover;
    background-position: center;
}

#startgame {
    display: flex;
    position: absolute;
    justify-content: center;
    margin-left: calc(50% - 150px);
    padding-top: 400px;
    z-index: 10;
}

#startgame button {
    font-size: 30px;
    width: 300px;
    height: 75px;
    text-align: center;
    border-radius: 20px;
    background-color: #fcba03;
}

#aftergame {
    width: 450px;
    height: auto;
    margin-top: 200px;
    margin-left: calc(50% - 225px);
    background-color: #b0b0b0;
    border: 3px solid black;
    border-radius: 15px;
    text-align: center;
}

#aftergame p {
    margin: 0;
    padding: 20px 0 10px 0;
    font-size: 35px;
}

#aftergame #score {
    width: 80px;
    height: 80px;
    margin: 0px;
    padding: 0px;
    background: transparent;
    border: none;
    font-size: 50px;
    color: red;
    text-align: center;
    resize: none;
}

#aftergame button, #submit {
    width: 200px;
    height: 50px;
    margin: 20px;
    font-size: 20px;
    border-radius: 10px;
    background-color: white;
}

#game {
    grid-template-columns: auto auto auto auto auto;
    background-color: grey;
    box-shadow: 5px 5px white;
    margin-top: 100px;
    padding: 20px;
    margin-left: calc(50% - 620px);
}

.card {
    position: relative;
    width: 200px;
    height: 300px;
    transition: 0.6s;
    transform-style: preserve-3d;
    margin: 20px;
    background-color: transparent;
    text-align: center;
}

.cardFront {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    outline: 2px solid black;
    backface-visibility: hidden;
}

.cardBack {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: white;
    outline: 2px solid black;
    backface-visibility: hidden;
    transform: rotateY(-180deg);
}

.questionMark {
    margin-top: 50px;
    width: 200px;
    height: 200px;
}

.avatar {
    position: relative;
    top: calc(50% - 50px);
}

.avatar .primaryImg {
    position: relative;
    width: 100px;
    height: 100px;
}

.avatar .secondaryImg {
    position: absolute;
    width: 100px;
    height: 100px;
    left: calc(50% - 50px);
}